[Unit]
Description=Gunicorn serving the Sunflower Proxy
After=network.target

[Service]
User=krakenrf
Group=krakenrf
WorkingDirectory=/home/krakenrf/geo-proxy
ExecStart=/usr/bin/gunicorn --bind 0.0.0.0:8082 server:create_app()

[Install]
WantedBy=multi-user.target