[Unit]
Description=Server for the Sunflower Proxy
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/krakenrf/geo-proxy
ExecStart=/home/krakenrf/geo-proxy/venv/bin/python3 server.py

[Install]
WantedBy=multi-user.target